.footer{

    background-color: rgba(35,170,170,1.00);
    padding: 12px;
    position:absolute; 
    bottom:0px; 
  
     left:0px; 
     right:0px;  
}

.footer-logo{
height: 138px;
padding: 12px;
}

.footer-details{
    text-align: left;
    color: #ffffff;
    font-weight: 500;
}

.btn-help-center{
    color: rgba(35,170,170,1.00);
    border: 0;
    margin-top: 16px;
    padding: 6px;
   
}